<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{app_name}} - Forgot Password</title>
    <link rel="stylesheet" href="{{css_file_path}}css2.css">
</head>

<body style=" font-family: 'Montserrat' , sans-serif;">
    <table style="width: 100% ! important;background: #f4f6ff;" width="100% !important">
        <tr>
            <td>
                <table
                    style="max-width: 450px; margin: 100px auto; width: 100% ! important; background: #fff; padding: 20px 20px 40px 20px;border-radius: 10px;"
                    width="100% !important" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <table style="margin: 0 auto; width: 100%;border-radius: 15px;">
                                    <tr>
                                        <td>
                                            <img src="{{email_logo}}"
                                                style="width:15%;max-width:125px;max-height:100px;object-fit:cover;float:right;margin: -6px;">
                                            <p style="font-size: 15px;">Hello,</p>
                                            <p style="font-size: 15px;">We received a request to reset the password for
                                                your account associated with {{email}}. Please use this
                                                temporary
                                                password to reset your new password.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p
                                                style="padding: 15px;text-align: center;background: #d45147;color: #FFF;font-size: 28px;margin: 5px;border-radius: 5px;">
                                                {{code}}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-size: 15px;">This email has been sent from a reset password
                                                process of {{app_name}}. If you didn’t request to reset your
                                                password don't worry no one will able to change your password without
                                                having your email account access.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>